@media (max-width: 580px) {
  .navbar-colour {
    background-color: whitesmoke;
  }
  .background {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.4;
    height: 80%;
    width: 120%;
  }

}
.background {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}

.container
{
  border-left:3px double black;
}

.navbar-brand
{
  font-family: 'Amatic SC', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Merriweather', serif;
}

.hd1 {
  font-family: "New Tegomin", serif;
}

.header #pa {
  font-size: 20px;
  font-family: "New Tegomin", serif;
  font-weight: 550;
}

.content
{
    background-color: rgb(192, 223, 200);;
}

.box p
{
  font-family: 'Lobster', cursive;
  font-family: 'Merriweather', serif;
  font-size: 17px;
}

.box h5
{
  font-family: "New Tegomin", serif;
  font-size: 25px;
  font-weight: 800;
}

.box hr {margin: 0px 0px 20px 0px; padding: 0; border: 0; border-bottom: solid 5px rgb(90, 146, 104);} 
.box {min-height: 400px;}
.box-content:before{z-index:1;content:"";position:absolute;left:0;right:0;top:0;bottom:0;border-bottom:5px solid  rgb(90, 146, 104);transform:scale(0,1);-moz-transform:scale(0,1);-webkit-transform:scale(0,1);-ms-transform:scale(0,1);transition:all 0.4s ease-in-out 0s;-moz-transition:all 0.4s ease-in-out 0s;-webkit-transition:all 0.4s ease-in-out 0s;}
.box-content:hover:before{transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-ms-transform:scale(1,1);}

.carousel img
{
  width: 500px;
  height: 400px;
}

.box-content img{
  width: 500px;
  height: 400px;
}

.pd
{
  padding: 5px 0px 5px 0px;
}



  .box:hover .btnup  a{
    position: absolute;
    transform:translateX(0px);
    opacity: 1;
  }
  
  .btnup a{
    position: absolute;
    transition:0.4s;
    transform:translateX(175px);
    opacity: 0.3;
  }

@media(min-width:768px) 
{
  .box-content
  {
    max-width: 500px;
    max-height: 500px;
  }
  .background {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    max-height: 80%;
  }
}

@media(min-width:992px) 
{
  .background {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.6;
    max-height: 70%;
  }
}

@media(min-width:1440px) 
{
  .background {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.6;
    max-height: 80%;
    width: 50%;
  }
}



.footer {
  background-color: rgb(158, 216, 173);
  margin: 50px 20px 0px 20px;
  padding: 20px 0px 20px 0px;
  text-decoration: none;
}

.list-unstyled li a
{
  text-decoration: none;
}

.fa {
  padding: 10px;
  font-size: 25px;
  width: 50px;
  text-align: center;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  background: crimson;
  color: white;
}
.fa-youtube {
  background: red;
  color: white;
}

.fas
{
  font-size: 30px;
}