@media (max-width: 580px) {
    .navbar-colour {
      background-color: whitesmoke;
    }
  }
  
  .navbar-brand
  {
    font-family: 'Amatic SC', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Merriweather', serif;
  }

  .background {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.6;
    height: 100%;
  }






